<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <div class="nav">
        <img src="img/nfb copy.png" class="nfb" alt="">
        <h2 class="cmp-name">naana fashion botique Online store</h2>
        <img src="../New folder (2)/img/nfb copy.png" class="brand-logo" alt="">
        <div class="nav-items">
            <div class="search">
                <input type="text" class="search-box" placeholder="search brand, product" />
                <button class="search-btn">search</button>
            </div>
            <a href="login.html" class="log">login<img src="../New folder (2)/img/user.png" alt="" /></a>
            <a href="shopping.html" class="shop-now">shop now<img src="../New folder (2)/img/cart.png" alt="" /></a>
            <a href="Regester.html" class="reg"><i class="fa-fa-account" aria-hidden="true"></i> Regester</a>
        </div>
    </div>
    <ul class="links-container">
        <li class="Links-item"><a href="#" class="Link">home</a></li>
        <li class="Links-item"><a href="#" class="Link">ladies</a></li>
        <li class="Links-item"><a href="#" class="Link">gentes</a></li>
        <li class="Links-item"><a href="#" class="Link">kids</a></li>
        <li class="Links-item"><a href="#" class="Link">shoes</a></li>
        <li class="Links-item"><a href="#" class="Link">accessories</a></li>
    </ul>

    <div class="login-box">
    <h2 class="create">well be back</h2>
    <h2 class="create">signin into your account please</h2>

    <form action="">
        <i class="fa fa-envelope" aria-hidden="true"><label for="">email</label></i>
        <input type="text" placeholder="Email">
        <label for="">password</label>
        <input type="text" placeholder="">
        <label for="">confirm password</label>
        <input type="text" placeholder="">
        <input type="button" value="submit"> 
    </form>
</div>
<p>forgot <a href="#" class="pas">password?</a></p>
<p class="par2">do not have an account <a href="regester.html">sign up here</a></p>

</body>

</html>