<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sing-up</title>
    <link rel="stylesheet" href="css/regester.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     <!--navigation-->
     <div class="nav">
        
        <img src="img/nfb copy.png" class="nfb" alt="">
        <h2 class="cmp-name">naana fashion botique Online store</h2>
        <img src="../New folder (2)/img/nfb copy.png" class="brand-logo" alt="">
        <div class="nav-items">
           <div class="search">
               <input type="text" class="search-box" placeholder="search brand, product"/>
               <button class="search-btn">search</button>
            </div>
           <a href="login.html" class="log">login<img src="../New folder (2)/img/user.png" alt=""/></a>
           <a href="shopping.html" class="shop-now">shop now<img src="../New folder (2)/img/cart.png" alt=""/></a>
           <a href="Regester.html" class="reg"><i class="fa-fa-account" aria-hidden="true"></i> Regester</a>
        </div>
     </div>
     <ul class="links-container">
        <li class="Links-item"><a href="#" class="Link">home</a></li>
        <li class="Links-item"><a href="#" class="Link">ladies</a></li>
        <li class="Links-item"><a href="#" class="Link">gentes</a></li>
        <li class="Links-item"><a href="#" class="Link">kids</a></li>
        <li class="Links-item"><a href="#" class="Link">shoes</a></li>
        <li class="Links-item"><a href="#" class="Link">accessories</a></li>
     </ul>

     <section>

         <div class="singup-box">
             <h2 class="crt">create an account:</h2>
            <form action="">
            <label for=""><i class="fa fa-user " aria-hidden="true" ></i>first name:</label>
            <input type="text" placeholder="fname">
            <label for=""><i class="fa fa-user " aria-hidden="true" ></i>last name:</label>
            <input type="text" placeholder="lname">
            <label for=""><i class="fa fa-envelope " aria-hidden="true" ></i>email:</label>
            <input type="email" placeholder="email">
            <label for=""><i class="fa fa-password " aria-hidden="true" ></i>password:</label>
            <input type="password" placeholder="">
            <label for="">confirm password:</label>
            <input type="password" placeholder="">
            <input type="button" value="submit">
        </form>

        <p>or create account using socila media</p>
     <div class="media">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
     </div>

        <p>byclickin the sign up button, you agreee to our <br>
            <a href="#">terms and conditions</a> <a href="#">policy and privacy</a>
        </p>
    </div>
    <p class="par2">already have an account <a href="login.html">login here</a> </p>
     </section>
</body>
</html>